In [2]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == "Store":
    print("Welcome to the store!")
else: 
    print("I do not know much.")

Welcome to the store!

# Loops

In [5]:
# iterable objects means you can iterate over the object 
# We can work through each item of the object and carry out actions on it

In [13]:
#FOR LOOP

mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for item in mylist:
    print(item)

1
2
3
4
5
6
7
8
9

# Control Flow

In [7]:
# key words for control flow: if | elif | else

In [8]:
if True:
    print("ITS TRUE!")

ITS TRUE!

In [9]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [11]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == "Bank":
    print("Money is cool!")
elif loc == "Store":
    print("Welcomoe to the store")
else:
    print("I do not know much")

Money is cool!

In [12]:
name = "Sammy"

if name == "Frankie":
    print("Hello Frankie!")
elif name == "Sammy":
    print("Hello Sammy")
else: 
    print("Things dey pop")

Hello Sammy

In [14]:
sum = 0

for num in mylist:
    sum = sum + num
print(sum)

45

In [15]:
mystring = "Hello World"

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [16]:
tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

In [17]:
alist = [(1, 2), (3, 4), (5, 6), (7,8)]

for item in alist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [20]:
#Tuple Unpacking --- Very IMPORTANT! concept.


for a,b in alist:
    print(b)

2
4
6
8

In [22]:
#Iterate through Dictionary

d = {"k1": 20, "k2": 24, "k3": 28}

for item in d:
    print(item)

k1
k2
k3

In [23]:
for item in d.items():
    print(item)

('k1', 20)
('k2', 24)
('k3', 28)

In [24]:
for key,value in d:
    print(value)

1
2
3

In [25]:
for key,value in d.items():
    print(value)

20
24
28

# while loop

In [26]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

# break, continue, pass with Loops

In [28]:
x = [1, 2, 3, 4, 5]

#pass - does nothing at all
for item in x:
    pass

In [30]:
#continue: goes to the top of the closest enclosing loop

myname = 'chukwuamarachi'

for letter in myname:
    if letter == "a":
        continue
    print(letter)

c
h
u
k
w
u
m
r
c
h
i

In [32]:
#break - breaks out of the current closest enclosing loop

for letter in myname:
    if letter == "a":
        break
    print(letter)

c
h
u
k
w
u

# Range Function

In [33]:
for num in range(0, 21, 3):
    print(num)

0
3
6
9
12
15
18

# Enumerate

In [37]:
index = 0

for letters in 'abcde':
    print('at index {} the leter is {}'.format(index, letter))
    index += 1

at index 0 the leter is a
at index 1 the leter is a
at index 2 the leter is a
at index 3 the leter is a
at index 4 the leter is a

In [40]:
index = 0
word = "ezeobiigwe-chukwuahufukwam"

for letter in word:
    print(word[index])
    index += 1

e
z
e
o
b
i
i
g
w
e
-
c
h
u
k
w
u
a
h
u
f
u
k
w
a
m

In [42]:
for item in enumerate(word):
    print(item)

(0, 'e')
(1, 'z')
(2, 'e')
(3, 'o')
(4, 'b')
(5, 'i')
(6, 'i')
(7, 'g')
(8, 'w')
(9, 'e')
(10, '-')
(11, 'c')
(12, 'h')
(13, 'u')
(14, 'k')
(15, 'w')
(16, 'u')
(17, 'a')
(18, 'h')
(19, 'u')
(20, 'f')
(21, 'u')
(22, 'k')
(23, 'w')
(24, 'a')
(25, 'm')

In [43]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
e


1
z


2
e


3
o


4
b


5
i


6
i


7
g


8
w


9
e


10
-


11
c


12
h


13
u


14
k


15
w


16
u


17
a


18
h


19
u


20
f


21
u


22
k


23
w


24
a


25
m

# Zip Function

In [45]:
#This is used to zip together two or more lists

listA = [1, 2, 3]
listB = ['a', 'b', 'c']
listC = [100, 200, 300]

for item in zip(listA, listB, listC):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [46]:
list(zip(listA, listB, listC))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [47]:
"mykey" in {'mykey': 245}

True

In [49]:
'a' in 'chukwuebuka'

True

In [50]:
min(mylist)

1

In [51]:
max(mylist)

9

# Random Library

In [52]:
#To import inbuilt library

from random import shuffle

In [53]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9]
shuffle(mylist)

In [54]:
mylist

[7, 6, 3, 5, 9, 8, 4, 2, 1]

In [55]:
mylist

[7, 6, 3, 5, 9, 8, 4, 2, 1]

In [56]:
from random import randint

In [57]:
randint(0, 100)

73

In [58]:
mynum = randint(0, 10)
mynum

3

In [59]:
#to receive an feedback or response from users

result = input('What is your name? ')

What is your name? chukwuemeka

In [60]:
result

'chukwuemeka'

In [61]:
# Note that type casting is change a data type to another data type

# List Comprehension

In [63]:
#List comprehension is a unique way of quickly creating a list with Python

In [64]:
mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [65]:
#using list comprehension

mylist = [letter for letter in mystring]

mylist

['h', 'e', 'l', 'l', 'o']

In [66]:
mylist = [x for x in word]
mylist

['e',
 'z',
 'e',
 'o',
 'b',
 'i',
 'i',
 'g',
 'w',
 'e',
 '-',
 'c',
 'h',
 'u',
 'k',
 'w',
 'u',
 'a',
 'h',
 'u',
 'f',
 'u',
 'k',
 'w',
 'a',
 'm']

In [67]:
numbers = [num for num in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
dnumbers = [num **2 for num in range(1, 20, 3)]

dnumbers

[1, 16, 49, 100, 169, 256, 361]

# if statement in List comprehension

In [70]:
mylist = [x**2 for x in range(0, 11) if x % 2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [71]:
celcius = [0, 10, 20, 30, 34]

fahrenheit = [((9/5) * temp + 32 ) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 86.0, 93.2]

# if/else in List comprehension

In [72]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

# Nested Loop

In [73]:


mylist = []

for x in [2, 4, 6]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

In [74]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [75]:
mylist = [x*y for x in [2, 4, 6] for y in [1, 10, 1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]